@font-face {
  font-family: "Cera Pro";
  src: url("../Fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../Fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: "Cera Pro", sans-serif;
  background: #ffffff;
  color: #3D3D3D;
  margin-top: 200px;
}

.product-section {
  max-width: 980px;
  margin: 0 auto;
  
} */

body {
  font-family: "Cera Pro", sans-serif;
  background: #ffffff;
  color: #3D3D3D;
  margin: 0; 
  padding: 40px 20px;
}

.product-section {
  width: 100%; 
  max-width: none; 
  padding: 150px 350px; 
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.product-tabs {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.product-tabs li {
  cursor: pointer;
  color: #3D3D3D;
  font-weight: 500;
}

.product-tabs li.active {
  color: #46A358;
  border-bottom: 2px solid #46A358;
  padding-bottom: 3px;
}

.sort {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sort select {
    border: none;
    background: transparent;
    outline: none;
    color: #3D3D3D;
    cursor: default;
}

.product-grid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center; 
}

.product-card {
  width: 300px;
  text-align: left;
  position: relative;
}

.product-image {
  position: relative;
  overflow: hidden;
  background: #FBFBFB;
  padding: 30px 20px;
  transition: border 0.3s ease;
  border: 1px solid transparent;
}

.product-card:hover .product-image {
  border-top: 2px solid #46A358;
}

.hover-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px; 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .hover-overlay {
  opacity: 1;
}

.hover-icon {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.hover-icon:hover {
  background: #46A358;
  transform: scale(1.1);
}

.hover-icon img {
  width: 18px;
  height: 18px;
  transition: all 0.2s ease;
  filter: brightness(0) saturate(100%);
}

.hover-icon:hover img {
  filter: brightness(0) saturate(100%) invert(100%);
}

.product-name {
  margin: 15px 0 5px 0;
  font-weight: 500;
  color: #3D3D3D;
}

.product-price {
  color: #46A358;
  font-weight: 700;
}

.old-price {
  color: #A5A5A5;
  text-decoration: line-through;
  margin-left: 8px;
}

.discount {
  position: absolute;
  top: 15px;
  left: 0px;
  background: #46A358;
  color: #fff;
  font-size: 12px;
  padding: 10px 29px;
  border-radius: 3px;
  font-weight: 600;
  z-index: 2;
}